.checkout-title {
  font-size: 42px;
  font-weight: 600;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-section {
  padding: 70px 45px;
  height: 635px;
  background-color: #F8F6F7;
  border-radius: 16px;
}

.section-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.form-group.position-relative {
  position: relative;
}

.checkout-form .sm-input{
  width: 100%;
  max-width: 277px;
}

.checkout-form .lg-input{
  width: 100%;
}

.checkout-form .row {
  width: 100%;
  max-width: 650px;
}

.input-with-icon {
  position: relative;
}

.email-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6C757D;
  font-size: 16px;
  z-index: 1;
}

.email-input {
  padding-left: 40px;
}

.cart-content {
  padding-top: 0;
  height: 327px;
}

/* .cart-items {
  height: 393px;
} */

.checkout-page .col-4 {
  width: 100%;
  max-width: 460px;
}

.cart-footer {
  margin-top: auto;
}

.cart-price-summary {
  margin: 4rem 0 5.2rem;
}