<div class="container">
  <h2 class="checkout-title mb-5 mt-5">Checkout</h2>

  <div class="row justify-content-between">

    <div class="col-8">
      <form [formGroup]="checkoutForm" class="checkout-form">

        <div class="form-section">
          <h3 class="section-title">Order details</h3>

          <div class="row">
            <div class="col-md-4 mb-5">
              <div class="form-group position-relative">
                <input
                  type="text"
                  class="form-control sm-input"
                  formControlName="name"
                  placeholder="Name"
                  [class.is-invalid]="isFieldInvalid('name')">
                <div *ngIf="isFieldInvalid('name')" class="invalid-feedback">
                  {{ getFieldError('name') }}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-5">
              <div class="form-group position-relative">
                <input
                  type="text"
                  class="form-control"
                  formControlName="surName"
                  placeholder="Surname"
                  [class.is-invalid]="isFieldInvalid('surName')">
                <div *ngIf="isFieldInvalid('surName')" class="invalid-feedback">
                  {{ getFieldError('surName') }}
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-5">
              <div class="form-group position-relative">
                <div class="input-with-icon">
                  <img src="assets/email.png" alt="Email Icon" class="email-icon">
                  <input
                    type="email"
                    class="form-control lg-input email-input"
                    formControlName="email"
                    placeholder="Email"
                    [class.is-invalid]="isFieldInvalid('email')">
                </div>
                <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
                  {{ getFieldError('email') }}
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-5">
              <div class="form-group position-relative">
                <input
                  type="text"
                  class="form-control"
                  formControlName="address"
                  placeholder="Address"
                  [class.is-invalid]="isFieldInvalid('address')">
                <div *ngIf="isFieldInvalid('address')" class="invalid-feedback">
                  {{ getFieldError('address') }}
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="form-group position-relative">
                <input
                  type="text"
                  class="form-control"
                  formControlName="zipCode"
                  placeholder="Zip code"
                  [class.is-invalid]="isFieldInvalid('zipCode')">
                <div *ngIf="isFieldInvalid('zipCode')" class="invalid-feedback">
                  {{ getFieldError('zipCode') }}
                </div>
              </div>
            </div>

          </div>
          
        </div>
    
      </form>
    </div>

    <div class="col-4">
      <div class="cart-content">
        <div *ngIf="cartItems.length === 0" class="empty-cart">
          <img src="/assets/oops.png" alt="Empty Cart" class="empty-cart-icon">
          <p class="oops">Ooops!</p>
          <p>You've got nothing in your cart just yet...</p>
          <a href="/" class="btn shop-btn red-btn mt-5">
            Start Shopping
          </a>
        </div>

        <div *ngIf="cartItems.length > 0" class="cart-items">
          <div *ngFor="let item of cartItems" class="cart-item">
            <div class="item-image">
              <img [src]="item.cover_image" [alt]="item.name" class="product-image">
            </div>

            <div class="item-details">
              <div class="d-flex justify-content-between align-items-center">
                <p class="item-name">{{ item.name }}</p>
                <p class="item-price">${{ item.total_price }}</p>
              </div>
              <div class="d-flex flex-column color-size-info">
                <p class="mb-2">{{ item.color }}</p>
                <p class="mb-0">{{ item.size }}</p>
              </div>


              <div class="quantity-controls">
                <div class="quantity-buttons">
                  <button
                    class="btn"
                    (click)="updateQuantity(item, item.quantity - 1)"
                    [disabled]="item.quantity <= 1">
                    <i class="bi bi-dash-lg"></i>
                  </button>
                  <span class="quantity">{{ item.quantity }}</span>
                  <button
                    class="btn"
                    (click)="updateQuantity(item, item.quantity + 1)">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
                <button class="btn remove-btn" (click)="removeItem(item.id)">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="cartItems.length > 0" class="cart-price-summary">
        <div class="d-flex justify-content-between align-items-center">
          <span class="total-label">Items subtotal</span>
          <span class="total-amount">${{ getItemsSubtotal() }}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="total-label">Delivery</span>
          <span class="total-amount">$ 5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center last-summary">
          <span class="total-label">Total</span>
          <span class="total-amount">${{ getGrandTotal() }}</span>
        </div>
      </div>

      <div *ngIf="cartItems.length > 0" class="cart-footer">
        <button class="checkout-btn red-btn" (click)="onPayment()" [disabled]="checkoutForm.invalid">
          Pay
        </button>
      </div>
    </div>

  </div>

</div>

<app-success-modal
  [isVisible]="showSuccessModal"
  [title]="'Congrats!'"
  [message]="'Your order is placed successfully!'"
  (close)="onModalClose()">
</app-success-modal>
