.checkout-title {
  font-size: 42px;
  font-weight: 600;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-section {
  padding: 70px 45px;
  height: 635px;
  background-color: #F8F6F7;
  border-radius: 16px;
}

.section-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.form-group.position-relative {
  position: relative;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 400;
}

.checkout-form .sm-input{
  width: 277px;
}

.checkout-form .lg-input{
  width: 578px;
}

.checkout-form .row {
  width: 86%;
}

.input-with-icon {
  position: relative;
}

.email-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6C757D;
  font-size: 16px;
  z-index: 1;
}

.email-input {
  padding-left: 40px;
}

.cart-content {
  padding-top: 0;
}

.cart-items {
  height: 393px;
}

.col-4 {
  width: 460px;
}

.cart-footer {
  margin-top: auto;
}

.cart-price-summary {
  margin-top: 0;
  margin-bottom: 5rem;
}