<div class="container">
  <div *ngIf="loading" class="loading-container">
    <div class="loading-spinner"></div>
    <p>Loading product...</p>
  </div>

  <div class="direction-text">
    Listing / Product
  </div>
  <div *ngIf="!loading && product" class="product-detail">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <div class="product-images d-flex flex-row">
          <div class="image-thumbnails" *ngIf="product.images.length > 1">
            <div
              *ngFor="let image of product.images; let i = index"
              class="thumbnail"
              [class.active]="selectedImageIndex === i"
              (click)="selectImage(i)">
              <img [src]="image" [alt]="product.name" class="img-fluid">
            </div>
          </div>
          <div class="main-image">
            <img
              [src]="product.images[selectedImageIndex] || product.cover_image"
              [alt]="product.name"
              class="img-fluid main-product-image">
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="product-info">

          <div class="title-price">
            <h1 class="product-title">{{ product.name }}</h1>
            <span class="current-price">$ {{ product.price }}</span>
          </div>

          <div class="selection-group" *ngIf="product?.available_colors?.length">
            <label class="selection-label">Color: {{ selectedColor }}</label>
            <div class="color-options">
              <div
                *ngFor="let color of product.available_colors"
                class="color-circle"
                [class.selected]="selectedColor === color"
                [class.multicolor]="color.toLowerCase() === 'multi'"
                [class.navy-blue]="color.toLowerCase() === 'navy blue'"
                [style.background-color]="color.toLowerCase()"
                (click)="selectColor(color)">
              </div>
            </div>
          </div>

          <div class="selection-group">
            <label class="selection-label">Size: {{ selectedSize }}</label>
            <div class="size-options" *ngIf="product?.available_sizes?.length; else sizeUnavailable">
              <div
                *ngFor="let size of product.available_sizes"
                class="size-option"
                [class.selected]="selectedSize === size"
                (click)="selectSize(size)">
                {{ size }}
              </div>
            </div>
            <ng-template #sizeUnavailable>
              <span class="unavailable-text">Currently unavailable</span>
            </ng-template>
          </div>

          <div class="selection-group">
            <label class="selection-label">Quantity</label>
            <div class="dropdown">
                <button class="btn dropdown-toggle quantity-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ selectedQuantity }} <img src="/assets/arrow-down.png" />
                </button>
                <div class="dropdown-menu quantity-dropdown-menu">
                    <div
                      *ngFor="let qty of getQuantityOptions()"
                      (click)="selectQuantity(qty)"
                      [class.active]="selectedQuantity === qty">
                      {{ qty }}
                    </div>
                </div>
            </div>
          </div>

          <button class="btn red-btn add-to-cart-btn" [disabled]="!isAuthenticated" (click)="addToCart()">
            <img src="/assets/shopping-cart-white.png" /> Add to Cart
          </button>

          <hr>

          <div class="product-description">
            <div class="d-flex align-items-center justify-content-between">
              <h3>Details</h3>
              <img [src]="product.brand.image" [alt]="product.brand.name" height="61" width="109"/>
            </div>
            <div class="d-flex flex-column gap-2">
              <label class="description-label">Brand: {{product.brand.name}} </label>
            
              <p class="description-text">{{ product.description }}</p>
            </div>
            
          </div>
          

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && !product" class="error-message">
    <p>Product not found</p>
  </div>
</div>
